.explorer-content {
    width: 1500px;
}

.explorer-focus {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 1200px;
}

.explorer-map {
    height: 99%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }