.side-view {
    height: 290px;
    width: 100%;
    background-color: rgb(59, 43, 38);
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px black;
    color: white;
}

.side-challenges-list-row {
    padding-inline: 5px;
    display: inline-flexbox;
    flex-direction: column;
    text-align: left;
}

.side-badge {
    height: 30px;
    width: 30px;
}

.side-badge-shadow {
    height: 30px;
    width: 30px;
}

.side-complete-button {
}