.side-view {
    height: 320px;
    width: 100%;
    background-color: rgb(39, 39, 39);
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px black;
    color: white;
}

/* Challenges View */

.challenges-content {
    height: 530px;
    width: 100%;
    background-color: rgb(39, 39, 39);
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px black;
    color: white;
}

.side-challenges-list-row {
    padding-inline: 5px;
    display: inline-flexbox;
    flex-direction: column;
    text-align: left;
}

.challenges-tracked {
    margin-bottom: 90%;
}

.side-badge {
    height: 30px;
    width: 30px;
}

.side-description {
    color: white;
}

.side-badge-shadow {
    height: 30px;
    width: 30px;
}

.side-img-badge-empty {
    text-align: center;
    height: 30px;
    width: 30px;
    opacity: 0.3;
}

.challenge-slot-text {
    margin-left: 30px;
    color: gray;
}

/* Progession View */

.progression-stats {
    margin-inline: 10px;
    text-align: left;
}