.badge-list-wrapper {
    margin-top: 3px;
    color: orangered;
}

.badge-list-header {
    text-align: left;
    font-size: 24px;
    height: 40px;
    width: 100%;
    margin-inline: 20px;
    border-bottom: 1px solid orangered;
}

/* Header Arrows */
.header-arrow-wrapper {
    background-color: rgba(0,0,0,0.0);
    border: unset;
    border-radius: 3px;
    padding: 0;
    user-select: none;
}

.header-arrow-wrapper:focus {
    background-color: unset;
    box-shadow: unset;
    border-color: unset;
    color: unset;
    outline: none;
}

.header-arrow-wrapper:hover {
    background-color: rgba(255, 68, 0, 0.275);
}

.header-arrow-wrapper, .header-title-wrapper, .header-stats-wrapper {
    display: inline-block;
    margin-inline: 10px; 
}

.header-stats-wrapper {
    float: right; 
}

/* Badge List Sepcific */
.badge-table {
    margin: 10px;
    max-height: 500px;
    text-align: left;
    overflow-y: auto;
}

.badge-wrapper {
    display: inline-block;
    margin: 1px;
    width: 50px;
    height: 50px;
}

.button-wrapper {
    background-color: rgba(0,0,0,0.0);
    border: unset;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    padding: 0;
    user-select: none;
}

.button-wrapper:focus {
    background-color: unset;
    box-shadow: unset;
    border-color: unset;
    color: unset;
    outline: none;
}

.button-wrapper:hover {
    background-color: rgba(255, 68, 0, 0.275);
}

.img-badge {
    background-color: rgba(red, green, blue, 0.0);
}

/* Modals */
.modal-header, .modal-body, .modal-footer {
    background-color: rgb(123, 128, 128);
}