/* Focus View Badge List */
.badge-table {
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 500px;
    text-align: left;
    overflow-y: auto;
}

.badge-wrapper {
    background-color: rgba(0,0,0,0.0);
    border: unset;
    border-radius: 3px;
    width: 125px;
    height: 150px;
    padding: 0;
    user-select: none;
    font-size: 12px;
    overflow: hidden;
    line-height: normal;
}

.badge-wrapper:focus {
    background-color: unset;
    box-shadow: unset;
    border-color: unset;
    color: unset;
    outline: none;
}

.badge-wrapper:hover {
    background-color: rgba(255, 120, 30, 0.275);
}

.badge-name-header {
    height: 60px;
    font-size: 20px;
    overflow: hidden;
}

.badge-img {
    background-color: rgba(red, green, blue, 0.0);
    padding-bottom: 10px;
}

.badgeCanvas {
    height: 50px;
    width: 50px;
    margin-inline: auto;
    margin-bottom: 10px;
}

/* Badge Modal */

.modal-header, .modal-body, .modal-footer, .badge-modal-difficulty {
    background-color: rgb(126, 133, 141);
    border: unset;
    padding-inline: 15px;
}

.modal-header {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.modal-title {
    font-size: 30px;

}

.badge-modal-map{
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

.badge-modal-details {
    padding: 10px;
}

.badge-modal-times {
    text-align: center;
}

.badge-modal-medal {
    display: inline-flex;
    padding-inline: 80px;
}
/* Side View Badge List */

.side-button-wrapper {
    text-align: left;
    background-color: rgba(0,0,0,0.0);
    border: unset;
    border-radius: 3px;
    width: 100%;
    padding: 0;
    user-select: none;
}

.side-button-wrapper:focus {
    background-color: unset;
    box-shadow: unset;
    border-color: unset;
    color: unset;
    outline: none;
}

.side-button-wrapper:hover {
    background-color: rgba(255, 120, 30, 0.275);
}

.side-img-badge {
    background-color: rgba(red, green, blue, 0.0);
    width: 30px;
    height: 30px;
}

.side-description {
    display: inline;
    padding-inline: 5px;
}